body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0F6FB;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

h2 {
    text-align: center;
}

section {
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.elective-container,
.core-container {
    width: 48%;
}

form {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.result-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-container {
    padding: 10px 30px 10px 10px;
    border: 1px solid #007bff;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}
